@font-face {
    font-family: 'QuicksandLight';
    src: url('/public/fonts/Quicksand-Light.ttf');
    font-weight: 300;
}
 
@font-face {
    font-family: 'QuicksandRegular';
    src: url('/public/fonts/Quicksand-Regular.ttf');
    font-weight: 400;
}
 
@font-face {
    font-family: 'QuicksandMedium';
    src: url('/public/fonts/Quicksand-Medium.ttf');
    font-weight: 500;
}
 
@font-face {
    font-family: 'QuicksandSemiBold';
    src: url('/public/fonts/Quicksand-SemiBold.ttf');
    font-weight: 600;
}
 
@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('/public/fonts/Quicksand-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
