.side-container{
    background-color: hsl(from var(--color-light-tertiary) h s l / 0.6);
}

.layout-container{
    background-image: url("/backgrounds/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-container{
    background-color: hsl(from var(--color-light-tertiary) h s l / 0.6);
}

@media(max-width:1023px) {
    .side-container{
        background: none;
    }
}